
# DB_HOST=localhost
# DB_PORT=5432
# DB_NAME=rag_api
# DB_USER=postgres
# DB_PASSWORD=postgres


# ADMIN_API_KEY=252525


# OLLAMA_BASE_URL=http://localhost:11434
# OLLAMA_MODEL=llama3.1


# EMBEDDING_MODEL=Xenova/nomic-embed-text-v1


# PORT=3000


# TOP_K_RESULTS=5



# DB_HOST=host.docker.internal
DB_HOST=db
DB_PORT=5432
DB_NAME=rag_api
DB_USER=postgres
DB_PASSWORD=postgres


ADMIN_API_KEY=252525


OLLAMA_BASE_URL=http://host.docker.internal:11434
OLLAMA_MODEL=llama3.1


EMBEDDING_MODEL=Xenova/nomic-embed-text-v1


PORT=3000


TOP_K_RESULTS=5